#chooseMarker-form select {
    padding: 3px;
    font-size: 15px;
    background-color: var(--widget-color);
    outline: none;
    border: none;
    border-radius: 6px;
}
#map button{
    position: absolute;
    z-index: 401;
    padding: 15px;
    border-radius: 15px;
    border: none;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    color: white;
    cursor: pointer;
}
#chooseComp-button {
    top: 10px;
    right: 10px;
}
#findRoute-Button{
    top: 10px;
    right: 216px;
}
#clearMap-Button{
    top: 10px;
    right: 321px;
 }
#bike-Button{
    top:10px;
    right:422px;
}
#car-Button{
    top:10px;
    right:469px;
}